@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background: #f1ede8;
	--primary-text: black;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #f1ede8;
	}
}

body {
	color: var(--primary-text);
	background: var(--background);
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}
